# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [41]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Create a data dictionary that looks like the DataFrame below

In [42]:
data_dict={'evolution': ['Ivysaur','Charmeleon','Wartortle','Metapod'],
 'hp':[45,39,44,45],
 'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
 'pokedex':['yes','no','yes','no'],'type':['grass','fire','water','bug']}

### Step 3. Assign it to a variable called

In [43]:
poke=pd.DataFrame(data_dict)

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [44]:
poke=poke[['name','type','hp','evolution','pokedex']]

In [45]:
poke

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [46]:
poke['place']=[1,2,3,4]

In [47]:
poke

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes      1
1  Charmander   fire  39  Charmeleon      no      2
2    Squirtle  water  44   Wartortle     yes      3
3    Caterpie    bug  45     Metapod      no      4

### Step 6. Present the type of each column

In [49]:
poke

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes      1
1  Charmander   fire  39  Charmeleon      no      2
2    Squirtle  water  44   Wartortle     yes      3
3    Caterpie    bug  45     Metapod      no      4

In [54]:
poke.hp.astype(int)

0    45
1    39
2    44
3    45
Name: hp, dtype: int64

In [53]:
poke.name.apply(lambda x: str(x))

0     Bulbasaur
1    Charmander
2      Squirtle
3      Caterpie
Name: name, dtype: object

### BONUS: Create your own question and answer it.